

<nav class="navbar navbar-expand-md navHead navItem navbar-dark bg-dark">
    <div>
        <% if(isAuthenticated) { %>
            <a class="navbar-brand ml-4" href="/home">
                    Sneaky Shoes
                </a>
            <% }else if(!isAdmin){ %>
                <a class="navbar-brand ml-4" href="/">
                        Sneaky Shoes
                    </a>
                <% } %>
                    <%if(isAdmin) {%>
                        <a class="navbar-brand ml-4" href="/admin/home">
                            Sneaky Shoes
                        </a>
                        <% } %>



    </div>

    <!-- Navbar Collapse -->
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
    <div class="collapse navbar-collapse justify-content-end navItem " id="navbarToggle">
        <ul class="navbar-nav ml-lg-auto">


            <% if(isAdmin) { %>
                <li class="nav-item">
                    <form action="/admin/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit">Logout</button>
                    </form>
                </li>
                <% }else {%>

                    <% if(isAuthenticated) { %>
                        <li class="nav-item">
                            <a class="nav-link smoothScroll" style="color: #fafeff;" href="/profile">Update Profile</a>
                        </li>




                        <li class="nav-item">
                            <a class="nav-link smoothScroll" style="color: #fafeff;" href="/cart">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smoothScroll" style="color: #fafeff;" href="/orders">Your Orders</a>
                        </li>


                        <li class="nav-item">
                            <form action="/logout" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn" type="submit">Logout</button>
                            </form>
                        </li>
                        <% } else {%>
                            
                                    
                                        <li class="nav-item mr-3">
                                            <a class="nav-link smoothScroll" style="color: white; " href="/login">Buyer Login</a>
                                        </li>
                                        <li class="nav-item mr-3">
                                            <a class="nav-link smoothScroll" style="color: white;" href="/register">Buyer Sign Up</a>
                                        </li>
                            
                            <!-- <li class="nav-item" style="margin-left: 20px; margin-right: 20px;"> -->
                               
                                    
                                        <li class="nav-item mr-3">
                                            <a class="nav-link smoothScroll" style="color: white;" href="/admin/login">Seller-Login</a>
                                        </li>
                                  
                            <!-- </li> -->

                            <li class="nav-item">
                                <a class="nav-link smoothScroll" style="color: white;" href="/admin/register">Seller-Register</a>
                            </li>
                            <% } %>
                                <%} %>
        </ul>

    </div>
</nav>