<%- include('../includes/head.ejs') %>
<body>

    <%- include('../includes/navigation.ejs') %>
    <% if(error_msg !='undefined') {%>
        <strong>  <%= error_msg %></strong>
    
    <% } %>
    
    <div id="main">
        <div class="fof">
                <h3>What you want to do as a Admin?</h3>
               
               <a href="/admin/products"> <button type="button" class="btn btn-primary btn-lg">All Products(view/edit/delete)</button></a>
               <a href="/admin/add-product"><button type="button" class="btn btn-primary btn-lg">Add Products</button></a>
        </div>
    </div>
<%- include('../includes/end.ejs') %>